@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600&display=swap');

body {
	background-color: #202020;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;

	/*background-image: url("mylogo.png");
	background-repeat: no-repeat;
	background-position: ;*/
}
#cutlogo {
	width: 100%;
	overflow: hidden;
}
#bglogo {
	height: 100%;
	width: 56%;
	position: absolute;
	transform: translate(-50%, -50%);
	top: -5%;
	left: 60%;
	transform: rotate(30deg);

	opacity: 0.3;
	float: right;
	z-index: -1;
}
/* if thin enough to warp img then do not show img */
@media only screen and (max-width: 970px) {
	#bglogo {
		display: none;
	}
}
@media only screen and (max-height: 700px) {
	#bglogo {
		display: none;
	}
}
#wrappercontent {
	margin-left: 3%;
}
* {
	font-weight: 400;
}
#navbar {
	padding-left: 3%;
	margin-left: 0px;
	margin-bottom: 3px;
	border-bottom: 1px solid white;
}
h1 {
}
#navbar h1 {
	margin-bottom: 1%;
}
#navbar h1 a {
	text-decoration: none;
	font-size: 23px;
	color: white;
	font-weight: 400;

	margin-right: 20px;
	transition: 0.34s;
}

#navbar h1 a:hover {
	color: #0999ff;
}

#about1link {
	margin-left: 50%;
}
#topheader {
	margin-left: 5%;
	float: left;
	font-weight: 100;
}
#hello {
	font-weight: 100;
	width: 500px;
	margin-left: 5%;
	font-size: 80px;
}
#whoami {
}
#typeadj {
	font-weight: 500;
	font-style: italic;
}
.abouttop {
	margin-top: 25%;
	margin-bottom: 40%;
}
.aboutme {
	margin-top: 0%;

	margin-right: 10%;
	margin-bottom: 45%;

	text-align: center;
}
#actualaboutme {
	margin-left: 5%;
}
.scrollbutton {
	color: white;
	font-weight: 300;
	background-color: #005ea0;
	font-size: 20px;
	border: none;
	border-radius: 24px;
	padding: 10px 24px 12px 24px;
	box-shadow: 3px 3px 10px black;
	transition: 0.2s;
}
/* make hover tilting only work on desktop */
@media only screen and (min-width: 600px) {
	.scrollbutton:hover {
		transform: rotate(10deg);
	}
}

.scrollbutton {
	outline: none;
}
.scrollbutton::-moz-focus-inner {
	border: 0;
}
.story {
	line-height: 160%;
	text-align: center;
}
.aboutme ul {
	list-style: none;
	text-align: left;
}
.aboutme li {
	margin-top: 15%;
	margin-left: 1%;
	text-align: center;
}
.aboutme h1 {
	text-decoration: underline;
}
a {
	color: white;
}
#canvasgames a {
	margin-right: 4%;
}
/* if thin enough to warp text in nav then do not show text */
@media only screen and (max-width: 1000px) {
	#navbar a {
		display: none;
	}
}
/* if thin enough to warp text in nav then do not show text */
@media only screen and (max-width: 1000px) {
	#navbar a {
		display: none;
	}
}

#arrow {
	display: block;

	background-color: beige;
	border: 1px solid black;
	margin: auto;
	margin-top: 15%;
}
#arrow {
	outline: none;
}
#arrow::-moz-focus-inner {
	border: 0;
}
#portfolio {
	margin-bottom: 15%;
}
footer {
	text-align: center;
}
footer h1 {
	text-transform: uppercase;
	font-weight: 500;
}

@media only screen and (max-width: 600px) {
	#navbar h1 {
		font-size: 23px;
	}
	#hello {
		font-size: 50px;
	}
}
